.bunny-player {
	pointer-events: none;
	color: #fff;
	isolation: isolate;
	border-radius: 1em;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
	overflow: hidden;
	transform: translateX(0);
}

.bunny-player__before {
	padding-top: 62.5%;
}

/* Animation */
[data-bunny-player-init] :is(.bunny-player__placeholder, .bunny-player__dark, .bunny-player__playpause, .bunny-player__loading) {
	transition: opacity 0.3s linear, visibility 0.3s linear;
}

/* Placeholder */
.bunny-player__placeholder {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__placeholder,
[data-bunny-player-init][data-player-status="paused"] .bunny-player__placeholder,
[data-bunny-player-init][data-player-activated="true"][data-player-status="ready"] .bunny-player__placeholder {
	opacity: 0;
	visibility: hidden;
}

/* Dark Overlay */
.bunny-player__dark {
	opacity: .1;
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
}

[data-bunny-player-init][data-player-status="paused"] .bunny-player__dark,
[data-bunny-player-init][data-player-status="playing"][data-player-hover="active"] .bunny-player__dark {
	opacity: 0.3;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__dark {
	opacity: 0;
}

.bunny-player__video {
	width: 100%;
	height: 100%;
	padding-bottom: 0;
	padding-right: 0;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

/* Play/Pause */
.bunny-player__playpause {
	pointer-events: auto;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__playpause,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__playpause {
	opacity: 0;
}

[data-bunny-player-init][data-player-status="playing"][data-player-hover="active"] .bunny-player__playpause {
	opacity: 1;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__play-svg,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__play-svg {
	display: none;
}

[data-bunny-player-init][data-player-status="playing"] .bunny-player__pause-svg,
[data-bunny-player-init][data-player-status="loading"] .bunny-player__pause-svg {
	display: block;
}

.bunny-player__toggle-playpause {
	cursor: pointer;
	width: 1.5em;
	height: 1.5em;
}

.bunny-player__big-btn {
	-webkit-backdrop-filter: blur(1em);
	backdrop-filter: blur(1em);
	cursor: pointer;
	background-color: rgba(100, 100, 100, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	width: 6em;
	height: 6em;
	padding: 2em;
	display: flex;
	position: relative;
}

.bunny-player__loading-svg {
	width: 6em;
}

.bunny-player__pause-svg {
	display: none;
}

@media screen and (max-width: 767px) {
	.bunny-player__big-btn {
		width: 20vw;
		height: 20vw;
		padding: 6vw;
	}
}

/* Cover Mode */
[data-bunny-player-init][data-player-update-size="cover"] {
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

[data-bunny-player-init][data-player-update-size="cover"] [data-player-before] {
	display: none;
}

[data-bunny-player-init][data-player-update-size="cover"][data-player-fullscreen="false"] .bunny-player__video {
	object-fit: cover;
}

/* Loading */
.bunny-player__loading {
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.33);
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
}

[data-bunny-player-init][data-player-status="loading"] .bunny-player__loading {
	opacity: 1;
	visibility: visible;
}
