.transition {
	z-index: 100;
	background-color: #ff4c24;
	flex-flow: wrap;
	grid-template-columns: repeat(8, 1fr);
	place-content: center;
	place-items: center;
	width: 100%;
	min-height: 100vh;
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	pointer-events: none;
}

.transition-block {
	aspect-ratio: 1;
	background-color: #ff4c24;
	width: 100%;
}
